@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
/************** HEADER  **************/    
/** NAVBAR **/
    .center {
        position: relative;
        top: 25%;
        left: 25%;
        width: 50%;
    }
    .navbar-brand {
        background-color: #ffffff;
        height: 7.625rem;
        width: 7.625rem;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem ;
        color: #ffffff;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    .nav-item {
        margin-left: 3rem ; 
    }
    .nav-link:hover {
        color: #e4bc01 ;
    }
    .nav-link:active, .nav-link:focus {
        color: #e4bc01;
    }
    .nav-link {
        font-size: 2.25rem ;
        font-family: "League Gothic", sans-serif ;
        color: #ffffff;
    }
/** HEADER BIG PICTURE **/
    .masthead{
        max-width: 100%;
        height: auto;
        padding-top: 5rem;
        background-position: center center;
        background-size: cover;
        border: solid red 2px;
    }

/************** CONTENT  **************/        
/** Section I  **/
    /*KTIBA UNDER YELLOW DOTS*/
    .page-section {
        max-width: 100%;
        height: auto;
        background-color: #3a0a1d;
    }
    .first-section-content {
        max-width: 100%;
        height: auto;
        border: solid blue 2px;
    }
    .first-section-text {
        font-size: 1.0625rem;
        color: #eaeaea;
        font-family: "Lacuna", sans-serif;
        display: flex;
        flex-wrap: nowrap;
    } 
    /*YELLOW DOTS*/
    .dot-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 1.25rem;
        
    }
    .dot {
        width: 1.75rem;
        height: 1.75rem;
        margin: 1%;
        background-color: #efbd01;
        border-radius: 50%;
    }
/** Section II  **/
    /* IMAGE */
    .image-container{
        width: 100%;
    }
    /*TEXT*/
    .second-section-text {
        font-size: 1.187rem;
        color: #3a0a1d;
        font-family: "Lacuna", sans-serif;
    }
    /*QUOTE SYMBOL*/
    .quote {
        width: 2.25rem;
        height: 2.25rem;
        color: rgba(223, 175, 18, 0.961);
    }

/************** FOOTER  **************/
    .page-footer {
        background-color: #e4bc01;
        height: 10.875rem;
    }
    /*FOOTER ICONS*/
    .fa-circle {
        color: #e4bc01;
    }
    .fa-instagram, .fa-facebook, .fa-twitter {
        font-size: x-large;
        color: #ffffff;
    }
    .container{
        /*border: dotted rebeccapurple 2px;*/
    }


/************** MEDIA QUERIES  **************/     
@media (min-width: 990px) {
    .masthead {
      padding-top: 5rem;
      padding-bottom: 0rem;
    }
    .navbar {
      height: 7.625rem;
    }
  }
  

  
